/*.boderstyle{
	width: 300px;
	height: 300px;
	background-color: orange;
	leftup rightup rightdown leftdown
	border-radius:0px 20px 50px 200px;
}*/
.bdstyle1{
	border-style: solid;
}
.bdstyle2{
	border-style: double;
}
.bdstyle3{
	border-style: dotted;
}
.bdstyle4{
	border-style: dashed;
}
.bdstyle5{
	border-style:inset;
}
.bdstyle6{
	border-style: outset;
}
/*.liststyle{
	/*list-style-type: circle;*/
	/*list-style-type: square;*/
	/*list-style-type: none;*/
	/*list-style-type:decimal;*/
/*}*/
li{
	list-style-type:decimal;
	border: 1px;
	border-style: solid;
	border-color: red;
	list-style-position: inside;
}
/*Attribute Selector*/
/*Array[]*/
input[type="text"]{
	border-radius: 30px;
	color:white;
	background-color: green;
	width: 500px;
	height: 30px;
}
body{
	background-image: url(../img/icon/icon1.png);
	background-repeat: no-repeat;
	/*background-position: center;*/
 	/*	background-position: left;*/
 	/*background-position: right;*/
 	/*background-position: top;
 	background-position: bottom;
 	background-position: right top;
 	background-position: right center;
 	background-position: right bottom
 	background-position: left top;
 	background-position: left bottom;
 	background-position: left center*/
 	background-position: right center;
 	background-attachment: fixed;

}