/*Universal Selector*/
*{
	cursor: pointer;
}

.firstdiv{
	font-size: 50px;
	cursor:pointer;
	width: 500px;
	height: 200px;
	background: rgba(42,94,89,0.6);
	/*opacity:0.5;*/
	color:red;
	border:5px;
	border-style:solid;
	/*border-style: dotted;*/
	margin:40px 30px;
}
.seconddiv{
	color: green;
	width: 500px;
	height: 300px;
	font-size: 40px;
	background-image: url(../img/background/bg1.jpg);
	background-repeat: repeat;
	/*background-repeat: no-repeat;
	background-repeat: repeat-x;
	background-repeat: repeat-y;*/
	background-position: center;
}